<div id="guide_nav_wrapper" class="side_nav">
        
                <div class="nav_close"><btn>Close</btn></div>
                <div class="guide_nav" id="guide_nav">
                    <div class="guide_heading-wrapper">
                        <a href={{"pages-landing/sab.html" | relative_url }}><h3>Guide to starting a business</h3></a>
                    </div>
                        <div class="guide_menu_wrapper">
                        <ul>
                            <li class="sub-landing-link" id="section-1"><a href={{"pages-landing/sab-check-if-youre-ready.html" | relative_url }}>1. Check if you&#39;re ready<span class="section_read"></span></a><btn class="sub-menu-toggle">Open</btn></li>   
                            <ul class="sub-menu section-1">
                                <li><a href={{"pages-content/Preparing-yourself-for-business.html" | relative_url }}>Preparing yourself for business<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Difference-between-a-business-and-a-hobby.html" | relative_url }}>Difference between a business and a hobby<span class="page_read"></span></a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link" id="section-2"><a href={{"pages-landing/sab-find-out-what-you-need.html" | relative_url }}>2. Find out what you need<span class="section_read"></span></a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu section-2">
                                <li><a href={{"pages-content/How-to-manage-your-suppliers.html" | relative_url }}>How to manage your suppliers<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Register-your-business-the-right-way.html" | relative_url }}>Register your business the right way<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Hiring-employees.html" | relative_url }}>Hiring employees<span class="page_read"></span></a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link" id="section-3"><a href={{"pages-landing/sab-get-advice-and-support.html" | relative_url }}>3. Get advice and support<span class="section_read"></span></a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu section-3">
                                <li><a href={{"pages-content/Find-help-and-support.html" | relative_url }}>Find help and support<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Help-for-your-business.html" | relative_url }}>Help for your business<span class="page_read"></span></a><span class="optional">Optional</span></li>
                            </ul>
                            
        
                            <li class="sub-landing-link" id="section-4"><a href={{"pages-landing/sab-contractors-and-contracts.html" | relative_url }}>4. Contractors and contracts<span class="section_read"></span></a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu section-4">
                                <li><a href={{"pages-content/Types-of-contracts.html" | relative_url }}>Types of contracts<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Employee-or-contractor.html" | relative_url }} | relative_url }}>Employee or contractor<span class="page_read"></span></a><span class="optional">Optional</span></li>
                            </ul>
                            
                            
                            <li class="sub-landing-link" id="section-5"><a href={{"pages-landing/sab-register-your-business.html" | relative_url }}>5. Register your business<span class="section_read"></span></a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu section-5">
                                <li><a href={{"pages-content/Register-for-an-Australian-business-number.html" | relative_url }}>Register for an Australian business number (ABN)<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-develop-your-business-plan.html" | relative_url }}>How to develop your business plan<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Business-structures.html" | relative_url }}>Business structures<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Taxation-for-your-business.html" | relative_url }}>Taxation for your business<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Record-keeping.html" | relative_url }}>Record keeping<span class="page_read"></span></a><span class="required">Required</span></li>
                            </ul>
                            
                            

                            <li class="sub-landing-link" id="section-6"><a href={{"pages-landing/sab-establishing-your-business.html" | relative_url }}>6. Establishing your business<span class="section_read"></span></a><btn class="sub-menu-toggle">Open</btn></li>
                            <ul class="sub-menu section-6">
                                <li><a href={{"pages-content/Selling-manufacturing-and-sourcing-products.html" | relative_url }}>Selling, manufacturing and sourcing products<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Choose-your-business-location.html" | relative_url }}>Choose your business location<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Business-insurance.html" | relative_url }}>Business insurance<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/Finance-for-your-business.html" | relative_url }}>Finance for your business<span class="page_read"></span></a><span class="required">Required</span></li>
                                <li><a href={{"pages-content/How-to-recruit-and-induct-new-employees.html" | relative_url }} | relative_url }}>How to recruit and induct new employees<span class="page_read"></span></a><span class="optional">Optional</span></li>
                            </ul>

                        </ul>
                            
                        <div class="switch_guides">
                            <a href="">View other guides that this page belongs to.</a>
                            </div>
                        </div>
                    </div>
                </div>
