 <div class="modal-wrapper">
<p class="modal-close">Close</p>
<h2>Inactive feature</h2>
    <p>This link or feature is not available for testing purposes.</p>
</div>
<div class="modal-background"></div>


<header>


    <div style="background-color:" class="c-wrapper c-wrapper-bg-transparent search-bar-wrapper container-fluid">
        <div class="row">
            <div class="search-bar-container">
                <div class="search-bar-inner-wrapper"><a href={{ "index.html" | relative_url }} class="search-bar-desktop-logo">

                        <img src={{ "assets/bga_crest.svg" | relative_url }} alt="business.gov.au design system"></a>
                    
                    <div class="search-bar-search input-group">
                        <div class="input-group-container"><input type="search" tabindex="0" name="Query" class="search-active" placeholder="search" value=""><span class="input-group-append"><button aria-label="press to search" type="button" id="_searchbutton" class="btn-search"><svg width="20" height="20">
                                        <path fill-rule="evenodd" d="M15.27 12.815l-.409.409-1.706-1.706c2.052-2.838 1.802-6.836-.753-9.39A7.218 7.218 0 0 0 7.264 0a7.22 7.22 0 0 0-5.139 2.128c-2.833 2.833-2.833 7.443 0 10.276a7.22 7.22 0 0 0 5.139 2.128c1.549 0 3.023-.483 4.253-1.375l1.706 1.705-.41.41L17.543 20 20 17.543l-4.73-4.728zm-11.507-2.05a4.955 4.955 0 0 1 0-6.999 4.918 4.918 0 0 1 3.5-1.45c1.323 0 2.566.515 3.5 1.45a4.955 4.955 0 0 1 0 7 4.919 4.919 0 0 1-3.5 1.449 4.92 4.92 0 0 1-3.5-1.45z"></path>
                                    </svg></button></span>
                            <div>
                            
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    
    <div style="background-color:" class="c-wrapper c-wrapper-bg-transparent navigation-bar-wrapper container-fluid">
        <div class="row">
            <div class="navigation-bar dropdown-wrapper" id="navigation-bar">
                
                <div style="display:inline-block" tabindex="-1" class="navigation-main-menu dropdown" id="header-registrations-link">
                    <button class="btn btn-default dropdown-toggle disabled navigation-item-button" type="button" data-toggle="dropdown" data-hover="dropdown">
                        <span>Registrations</span>
                        
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href={{"pages-content/Register-for-an-Australian-business-number.html" | relative_url}} class="dropdown-item">Register for an ABN</a></li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-content/Register-your-business-name.html" | relative_url}} class="dropdown-item">Register a business name</a></li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Register-for-taxes.html" | relative_url}} class="dropdown-item">Register for taxes</a></li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-content/Register-licences-and-permits.html" | relative_url}} class="dropdown-item">Register licences and permits</a></li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-content/Register-a-company.html" | relative_url}} class="dropdown-item">Register a company</a></li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-content/Register-a-trade-mark.html" | relative_url}} class="dropdown-item">Register a trade mark</a></li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Cancel-registrations.html" | relative_url}} class="dropdown-item">Cancel registrations</a></li>
                      
                       
                    </ul>
                </div>
                
             
                 <div tabindex="-1" class="navigation-main-menu dropdown" id="header-business-link">
                    <button class="btn btn-default dropdown-toggle disabled navigation-item-button" type="button" data-toggle="dropdown" data-hover="dropdown">
                        <span>Business Information</span>
                        
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Planning.html" | relative_url}} class="dropdown-item">Planning</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/New-businesses.html" | relative_url }} >New businesses</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Business-structures-types.html" | relative_url }} >Business structures &amp; types</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Business-plans.html" | relative_url }} >Business plans</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Intellectual-property.html" | relative_url }} >Intellectual property</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Industry-information.html" | relative_url }} >Industry information</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-landing/sab.html" | relative_url }}>Starting a business guide</a></li>
                            </ul>
                        </li>
                       <li class="dropdown-submenu">
                            <a href={{"pages-topic/Finance.html" | relative_url}} class="dropdown-item">Finance</a>
                        <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Accounting.html" | relative_url }} >Accounting</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Payments-and-invoicing.html" | relative_url }} >Payments &amp; invoicing</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Seeking-finance.html" | relative_url }} >Seeking finance</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Managing-debt.html" | relative_url }} >Managing debt</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Taxation.html" | relative_url }} >Taxation</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/Superannuation.html" | relative_url }}>Superannuation</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Marketing.html" | relative_url}} class="dropdown-item">Marketing</a>
                            <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Marketing-advertising.html" | relative_url }} >Marketing &amp; advertising</a></li>
                                    <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Market-research.html" | relative_url }} >Market research</a></li>
                                    <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Online-presence.html" | relative_url }} >Online presence</a></li>
                                    <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/Social-media-for-business.html" | relative_url }} >Social media</a></li>
                                    <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/How-to-write-your-marketing-plan.html" | relative_url }} >Develop your marketing plan</a></li>
                                </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/People.html" | relative_url}} class="dropdown-item">People</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Hiring.html" | relative_url }} >Hiring</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Pay-and-conditions.html" | relative_url }} >Pay &amp; conditions</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Managing-and-developing-staff.html" | relative_url }} >Managing &amp; developing staff</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Disputes.html" | relative_url }} >Disputes</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Contractors.html" | relative_url }} >Contractors</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Customers.html" | relative_url }}>Customers</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/Ending-employment.html" | relative_url }}>Ending employment</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/How-to-manage-your-suppliers.html" | relative_url }}>Suppliers</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Products-services.html" | relative_url}} class="dropdown-item">Products &amp; services</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Fair-trading.html" | relative_url }} >Fair trading</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Importing-and-exporting.html" | relative_url }} >Importing &amp; exporting</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/Develop-a-pricing-strategy.html" | relative_url }} >Pricing</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Contracts-tenders.html" | relative_url }} >Contracts &amp; tenders</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Product-labelling.html" | relative_url }} >Product labelling</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/How-to-manage-your-suppliers.html" | relative_url }}>Suppliers</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Inventory-management.html" | relative_url }}>Inventory management</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Customers.html" | relative_url }}>Customers</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Risk-Management" | relative_url}} class="dropdown-item">Risk management</a>
                        <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Risk-assessment-and-planning.html" | relative_url }} >Risk assessment &amp; planning</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Insurance.html" | relative_url }} >Insurance</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Health-and-safety.html" | relative_url }} >Health &amp; safety</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Cyber-security.html" | relative_url }} >Cyber security</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Environmental-impact.html" | relative_url }} >Environmental impact</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Emergency-management.html" | relative_url }}>Emergency management</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Intellectual-property.html" | relative_url }}>Intellectual Property</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Change-growth.html" | relative_url}} class="dropdown-item">Change &amp; growth</a>
                        <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Innovation.html" | relative_url }} >Innovation</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Restructuring.html" | relative_url }} >Restructuring</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Importing-and-exporting.html" | relative_url }} >Importing &amp; exporting</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Growing-a-business-checklist.html" | relative_url }} >Growing your business</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Business-plans.html" | relative_url }} >Update your business plans</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Cancel-registrations.html" | relative_url }}>Cancel registrations</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href={{"pages-topic/Closing.html" | relative_url}} class="dropdown-item">Closing</a>
                        <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Selling-or-closing-your-business.html" | relative_url }} >Selling or closing your business</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Bankruptcy.html" | relative_url }} >Bankruptcy</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-content/How-to-develop-your-succession-plan.html" | relative_url }} >Develop your succession plan</a></li>
                                <li><a class="dropdown-item" tabindex="-1" href={{"pages-topic/Cancel-registrations.html" | relative_url }} >Cancel registrations</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </div>
                
                
                <div tabindex="-1" class="navigation-main-menu" id="header-grants-link"><button class="navigation-item-button"><span>Grants &amp; Programs</span>
                        <div class="BgaIcon white navigation-item-button-icon-action"> <svg viewBox="0 0 16 16">
                                <path d="M11.173 10.07H0v-3h11.171L7.02 2.923 8.929 1 16 8.57l-7.071 7.573-1.91-1.909z"></path>
                            </svg> </div>
                    </button></div>
               
                
                <div tabindex="-1" class="navigation-main-menu" id="header-advice-link"><button style="width:" class="navigation-item-button"><span>Expertise &amp; Advice</span>
                        <div class="BgaIcon white navigation-item-button-icon-action"> <svg viewBox="0 0 16 16">
                                <path d="M11.173 10.07H0v-3h11.171L7.02 2.923 8.929 1 16 8.57l-7.071 7.573-1.91-1.909z"></path>
                            </svg> </div>
                    </button></div>
                
                
                <div tabindex="-1" class="navigation-main-menu" id="header-events-link"><button style="width:" class="navigation-item-button"><span>Events &amp; Training</span>
                        <div class="BgaIcon white navigation-item-button-icon-action"> <svg viewBox="0 0 16 16">
                                <path d="M11.173 10.07H0v-3h11.171L7.02 2.923 8.929 1 16 8.57l-7.071 7.573-1.91-1.909z"></path>
                            </svg> </div>
                    </button></div>
                
                
                <div tabindex="-1" class="navigation-main-menu" id="header-news-link"><button style="width:" class="navigation-item-button"><span>News</span>
                        <div class="BgaIcon white navigation-item-button-icon-action"> <svg viewBox="0 0 16 16">
                                <path d="M11.173 10.07H0v-3h11.171L7.02 2.923 8.929 1 16 8.57l-7.071 7.573-1.91-1.909z"></path>
                            </svg> </div>
                    </button></div>
            </div>
        </div>
    </div>
   
    
 
</header>