<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body class="au-grid">

    <!-- HEADER -->
    <div class="header-wrapper">
        <div class="header">
            {% include header.html %}
        </div>
    </div>

    <!-- CONTENT -->
    <div id="sab-home-1">

        <div style="background-color:" class="c-wrapper c-wrapper-bg-transparent container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8">
                   
                    <div class="sab-header">
                        <div class="sab-header-wrapper">
                            
                            <div class="sab-header-title">
                            <h1>Guide to starting a business</h1>
                            </div>
                            <div class="sab-header-content">
                              
                                <div>
                                    <p class="description">Setting up your own business is exciting, but can also be challenging if you are not prepared. This guide will take you through each step of starting a business and help you understand what's ahead.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>   
        <div class="row">
                <div class="sab-landing-content col-12 col-sm-12">

                    <div class="c-wrapper c-wrapper-bg-transparent c-padding-top c-padding-bottom container-fluid">
                        <div class="row">
                            <div style="padding-bottom:25px" class="col-12 col-sm-6 col-md-6 col-xl-4"><a href="sab-check-if-youre-ready.html" class="legacy-anchor-link">
                                    <div class="legacy-anchor legacy-sectionCard card-container w-100">
                                        <div class="card-item w-100 card">
                                            <div class="imgContainer"><img width="100%" src={{ "assets/sab-prepare-for-business-large.png" | relative_url }} alt="Illustration of section" title="Illustration of section" style="display:" class="card-img-top"></div>
                                            <div class="px-6 pb-0 pt-6 card-body">
                                                <div class="card-title">1. Check if you're ready</div>
                                                <ul class="ml-0 mb-0">
                                                    <li>Preparing yourself for business</li>
                                                    <li>Difference between a business and a hobby</li>
                                                </ul>
                                            </div>
                                             <div class="legacy-topicCard-button-text sab">
                                            <p class="icon-link sab-home"></p>
                                        </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div style="padding-bottom:25px" class="col-12 col-sm-6 col-md-6 col-xl-4"><a href="sab-find-out-what-you-need.html" class="legacy-anchor-link">
                                    <div class="legacy-anchor legacy-sectionCard card-container w-100">
                                        <div class="card-item w-100 card">
                                            <div class="imgContainer" style="background-color:#DFF1F1"><img width="100%" src={{"assets/sab-make-key-decisions.png" | relative_url }} alt="Illustration of section" title="Illustration of section" style="display:" class="card-img-top"></div>
                                            <div class="px-6 pb-0 pt-6 card-body">
                                                <div class="card-title">2. Find out what you need</div>
                                                <ul class="ml-0 mb-0">
                                                    
                                                    <li>How to manage your suppliers</li>
                                                    <li>Register your business the right way</li>
                                                    <li>Hiring employees</li>
                                                </ul>
                                            </div>
                                           <div class="legacy-topicCard-button-text sab">
                                            <p class="icon-link sab-home"></p>
                                        </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div style="padding-bottom:25px" class="col-12 col-sm-6 col-md-6 col-xl-4"><a href="sab-get-advice-and-support.html" class="legacy-anchor-link">
                                    <div class="legacy-anchor legacy-sectionCard card-container w-100">
                                        <div class="card-item w-100 card">
                                            <div class="imgContainer" style="background-color:#FFE4DE"><img width="100%" src={{"assets/sab-plan-for-success.png" | relative_url }} alt="Illustration of section" title="Illustration of section" style="display:" class="card-img-top"></div>
                                            <div class="px-6 pb-0 pt-6 card-body">
                                                <div class="card-title">3. Get advice and support</div>
                                                <ul class="ml-0 mb-0">
                                                    <li>Find help and support</li>
                                                    <li>Help for your business</li>
                                                </ul>
                                            </div>
                                            <div class="legacy-topicCard-button-text sab">
                                            <p class="icon-link sab-home"></p>
                                        </div>
                                        </div>
                                    </div>
                                </a></div>
                            
                            <div style="padding-bottom:25px" class="col-12 col-sm-6 col-md-6 col-xl-4"><a href="sab-contractors-and-contracts.html" class="legacy-anchor-link">
                                    <div class="legacy-anchor legacy-sectionCard card-container w-100">
                                        <div class="card-item w-100 card">
                                            <div class="imgContainer" style="background-color:#DFE2EE"><img width="100%" src={{"assets/sab-prepare-for-tax.png" | relative_url }}  alt="Illustration of section" title="Illustration of section" style="display:" class="card-img-top"></div>
                                            <div class="px-6 pb-0 pt-6 card-body">
                                                <div class="card-title">4. Contractors and contracts</div>
                                                <ul class="ml-0 mb-0">
                                                    <li>Types of contracts</li>
                                                    <li>Employee or contractor</li>
                                                </ul>
                                            </div>
                                            <div class="legacy-topicCard-button-text sab">
                                            <p class="icon-link sab-home"></p>
                                        </div>
                                        </div>
                                    </div>
                                </a></div>
                            <div style="padding-bottom:25px" class="col-12 col-sm-6 col-md-6 col-xl-4"><a href="sab-register-your-business.html" class="legacy-anchor-link">
                                    <div class="legacy-anchor legacy-sectionCard card-container w-100">
                                        <div class="card-item w-100 card">
                                            <div class="imgContainer" style="background-color:#FCF4E3"><img width="100%" src={{"assets/sab-register-your-business.png" | relative_url }} alt="Illustration of section" title="Illustration of section" style="display:" class="card-img-top"></div>
                                            <div class="px-6 pb-0 pt-6 card-body">
                                                <div class="card-title">5. Register your business</div>
                                                <ul class="ml-0 mb-0">
                                                    <li>Register an Australia Business Number (ABN)</li>
                                                    <li>How to develop your business plan</li>
                                                    <li>Business structures</li>
                                                    <li>Taxation for your business</li>
                                                    <li>Record keeping</li>
                                                </ul>
                                            </div>
                                            <div class="legacy-topicCard-button-text sab">
                                            <p class="icon-link sab-home"></p>
                                        </div>
                                        </div>
                                    </div>
                                </a></div>

                            <div style="padding-bottom:25px" class="col-12 col-sm-6 col-md-6 col-xl-4"><a href="sab-establishing-your-business.html" class="legacy-anchor-link">
                                    <div class="legacy-anchor legacy-sectionCard card-container w-100">
                                        <div class="card-item w-100 card">
                                            <div class="imgContainer" style="background-color:#DFF1F1"><img width="100%" src={{"assets/sab-set-up-operations.png" | relative_url }} alt="Illustration of section" title="Illustration of section" style="display:" class="card-img-top"></div>
                                            <div class="px-6 pb-0 pt-6 card-body">
                                                <div class="card-title">6. Establishing your business</div>
                                                <ul class="ml-0 mb-0">
                                                    <li>Selling, manufacturing and sourcing products</li>
                                                    <li>Choose your business location</li>
                                                    <li>Business insurance</li>
                                                    <li>Finance for your business</li>
                                                    <li>How to recruit and induct new employees</li>
                                                </ul>
                                            </div>
                                             <div class="legacy-topicCard-button-text sab">
                                            <p class="icon-link sab-home"></p>
                                        </div>
                                        </div>
                                    </div>
                                </a></div>
                        </div>
                    </div>



                </div>
            </div>
        




    </div>



    <!-- FOOTER -->
    <div class="footer-wrapper">
        <div class="footer">
            {% include footer.html %}
        </div>
    </div>

</body>

</html>
